# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
  pull_request:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - name: Download headers
        run: |
          chmod +x *.sh
          ./download_headers.sh

      - name: Build
        run: go build --buildmode=c-shared -o bin -v ./...

      - name: Test
        run: go test -v ./...
